body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

.container-fluid{
    padding: 3% 15%;
}

@media (max-width: 1028px) {
    .container-fluid{
        padding: 5%;
    }
}

#title{
    background-color: rgb(8, 15, 34);
    color: white;
    text-align: left;
}

@media (max-width: 1028px) {
    #title{
        text-align: center;
    }
}

.main-heading{
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

/* Download Button */
.download-btn{
    margin: 3% 5% 6% 0;
    font-weight: 600;
}

/* Navigation Bar */
.navbar-brand{
    font-size: 2rem;
    font-weight: 600;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

.navbar{
    padding: 0 0 4.5rem;
}

/* Title Image */
.title-image{
    position: absolute;
    margin: auto;
    transform: rotate(18deg);
}

@media (max-width: 1028px) {
    .title-image{
        position: static;
        transform: rotate(0deg);
    }
}

/* Features */
#features{
    text-align: center;
    background-color: white;
    position: relative;
}

.features-heading{
    margin-bottom: 0.1rem;
    font-weight: 600;
}

.feature-icon{
    font-size: 4rem;
    padding-bottom: 5%;
    color: rgba(8, 15, 34,0.8);
}

.feature-icon:hover{
    color: rgb(8, 15, 34);
}

/* Testomonials */
#testimonials{
    color: white;
    background-color: rgb(8, 15, 34);
    padding: 7% 15%;
}

.testimonials-text{
    font-weight: 900;
    line-height: 1.5;
}

/* Footer */
#footer{
    padding: 1rem;
}

.footer-icon{
    padding: 0.8rem;
}