body{
    font-family: 'Montserrat', sans-serif;
}
.container-fluid{
    padding: 3% 15%;
}

#title{
    background-color: rgb(8, 15, 34);
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}